* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
    font-family: sans-serif;
    color: #fff;
}

.wrapper {

    width: 90%;
    max-width: 470px;
    background-color: rgba(135, 206, 250, 0.493);
    margin: 50px auto;
    padding: 40px 35px;
    text-align: center;
    border-radius: 20px;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 10px;
}

.search input {
    height: 40px;
    border: 0;
    outline: 0;
    padding: 10px 20px;
    border-radius: 30px;
    flex: 1;
    font-size: 15px;
    background-color: whitesmoke;

}

.search button {
    border: 0;
    outline: 0;
    background-color: whitesmoke;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.search button img {
    width: 14px;
}

.search button:hover {
    background-color: rgb(243, 217, 222);

}

.weather-icone {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 50px;

}

.weather h2 {
    font-size: 30px;
    margin-top: 10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 45px;
}

.wrapp {
    display: flex;
    align-items: center;
    text-align: left;
}

.wrapp img {
    width: 35px;
    margin-right: 10px;
}

.humidity,
.wind {
    font-size: 18px;
    margin-top: -6px;
}

.weather {
    display: none;
}

.error {
    margin-top: 10px;
    font-size: 14px;
    display: none;
}